* {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;

    /* palette */
    --blue1: #81B9FF;
    --blue2: #A0CFFF;
    --blue3: #294876;
    --bluelink: #006DF0;
    --black: #000000;
    --white: #ffffff;
}

body {
    background:  linear-gradient(180deg, #81B9FF 0%, #A0CFFF 100%);
}

a {
    text-decoration: none;
    color: var(--bluelink);
}

img {
    max-width: 100%;
    float: right;
}


div {
    height: 504px;
    width: 373px;
    border-radius: 12px;
    background-color: white;
    margin: 0 auto;
    padding: 53px 44px 0 44px;

}