* {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;

    /* palette */
    --blue1: #81B9FF;
    --blue2: #A0CFFF;
    --blue3: #294876;
    --bluelink: #006DF0;
    --black: #000000;
    --white: #ffffff;
}

body {
    background:  linear-gradient(180deg, #81B9FF 0%, #A0CFFF 100%);
}

a {
    text-decoration: none;
    color: var(--bluelink);
}

img {
    max-width: 100%;
}

h1 {
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    margin-bottom: 29px;
}

.email {
    margin-bottom: 20px;
    background-color: #D9D9D9;
    border: none;
}

.password {
    margin-bottom: 10px;
    background-color: #D9D9D9;
    border: none;
}

header  {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 62px;
}

input {
    width: 100%;
    height: 33px;
}

.loginButton {
    width: 190px;
    height: 42px;
    background-color: #D9D9D9;
    border: none;
    margin-top: 57px;
    margin-bottom: 100px;
}

.login {
    height: 504px;
    width: 373px;
    border-radius: 12px;
    background-color: white;
    margin: 0 auto;
    padding: 53px 44px 0 44px;
    display: none;
}

.SignIn {
    height: 504px;
    width: 373px;
    border-radius: 12px;
    background-color: white;
    margin: 0 auto;
    padding: 53px 44px 0 44px;
}

.devCastleImage {
    float: right;
    bottom: 0;
    right: 0;
    position: absolute;
}