
.pLogInSignIn body {
    background:  linear-gradient(180deg, #81B9FF 0%, #A0CFFF 100%) no-repeat fixed;
    height: 100%;
    margin: 0;
}

.pLogInSignIn .email {
    margin-bottom: 20px;
    background-color: #D9D9D9;
    border: none;
}

.pLogInSignIn .password {
    margin-bottom: 10px;
    background-color: #D9D9D9;
    border: none;
}

.pLogInSignIn header  {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.pLogInSignIn input {
    width: 100%;
    height: 33px;
}

.pLogInSignIn .titre {
    font-size: 30px;
    text-align: center;
}

.pLogInSignIn #confirmPasswordSignIn {
    margin-bottom: 30px;
}

.pLogInSignIn .dejaIncrit {
    text-align: center;
    margin-top: 20px;
}

.pLogInSignIn .inscriptionButton {
    border: none;
    background-color: #294876;
    color: white;
    height: 50px;
}

.pLogInSignIn .loginButton {
    width: 190px;
    height: 42px;
    background-color: #D9D9D9;
    border: none;
    margin-top: 57px;
    margin-bottom: 100px;
}

.pLogInSignIn .login {
    height: 504px;
    width: 373px;
    border-radius: 12px;
    background-color: white;
    margin: 0 auto;
    padding: 53px 44px 0 44px;
}

.pLogInSignIn .error{
    display: none;
    color: #cd3d64;
}

.pLogInSignIn .SignIn {
    height: 100%;
    max-width: 530px;
    border-radius: 12px;
    background-color: white;
    margin: 0 auto;
    padding: 30px 44px 50px 44px;
}

.pLogInSignIn .SignIn input {
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #b8b8b8;
}

.pLogInSignIn label {
    font-size: 14px;
}

.pLogInSignIn .devCastleImage {
    float: right;
    bottom: 0;
    right: 0;
    position: absolute;
}

.pLogInSignIn .passwordDiv {
    position: relative;
}

.pLogInSignIn .passwordDiv img {
    position: absolute;
    right: 0;
}